Repository libopenstorage/stork, pull requests merged in 2019-08, with the labels that each got.

#431 Validate snapshot before inplace restore
  pkg/snapshot/controllers/snapshotrestore.go
Labels: bug

#439 Disable CS inplace restore feature
  drivers/volume/portworx/portworx.go
Labels: bug

#438 Pre exec backup
  test/integration_test/applicationbackup_test.go
  test/integration_test/specs/mysql-1-pvc-post-exec-missing-rule-backup/applicationbackup.yaml
  test/integration_test/specs/mysql-1-pvc-post-exec-rule-backup/applicationbackup.yaml
  test/integration_test/specs/mysql-1-pvc-post-exec-rule-backup/mysql-post-backup-rule.yaml
  test/integration_test/specs/mysql-1-pvc-pre-exec-missing-rule-backup/applicationbackup.yaml
  test/integration_test/specs/mysql-1-pvc-pre-exec-rule-backup/applicationbackup.yaml
  test/integration_test/specs/mysql-1-pvc-pre-exec-rule-backup/mysql-pre-backup-rule.yaml
Labels: integration-test

#442 Failing rules backup
  test/integration_test/applicationbackup_test.go
  test/integration_test/specs/mysql-1-pvc-post-exec-failing-rule-backup/applicationbackup.yaml
  test/integration_test/specs/mysql-1-pvc-post-exec-failing-rule-backup/rule.yaml
  test/integration_test/specs/mysql-1-pvc-pre-exec-failing-rule-backup/applicationbackup.yaml
  test/integration_test/specs/mysql-1-pvc-pre-exec-failing-rule-backup/rule.yaml
Labels: integration-test

#444 Vendor update for torpedo
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/portworx/torpedo/drivers/node/node.go
  vendor/github.com/portworx/torpedo/drivers/node/node_registry.go
  vendor/github.com/portworx/torpedo/drivers/scheduler/k8s/k8s.go
  vendor/github.com/portworx/torpedo/drivers/volume/portworx/portworx.go
Labels: integration-test

#446 Update cassandra version in integration test
  test/integration_test/specs/cassandra/cassandra.yaml
Labels: failing-test, integration-test

#445 Integration test for label selector.
  test/integration_test/applicationbackup_test.go
  test/integration_test/specs/mysql-1-pvc-label-selector-backup/applicationbackup.yaml
  test/integration_test/specs/mysql-1-pvc/mysql.yaml
Labels: integration-test

#449 Fix flag for enabling cluster domain tests in integration tests.
  test/integration_test/test-deploy.sh
Labels: integration-test

#451 Update go version for travis build
  .travis.yml
Labels: release-note
