Repository libopenstorage/stork, pull requests merged in 2019-03, with the labels that each got.

#292 [Portworx] Don't rely on storage class to determine ownersip of PVC
  drivers/volume/portworx/portworx.go
Labels: bug

#299 Extender: Return error if no replicas are online for a volume
  pkg/extender/extender.go
  pkg/extender/extender_test.go
Labels: bug

#301 storkctl: Add all-namespaces param for subcommands
  pkg/storkctl/migrationschedule.go
  pkg/storkctl/migrationschedule_test.go
  pkg/storkctl/snapshotschedule.go
  pkg/storkctl/snapshotschedule_test.go
Labels: enhancement

#304 Add node start and create separate storageclass for pvcownership test
  test/integration_test/extender_test.go
  test/integration_test/specs/mysql-repl-1/mysql.yaml
Labels: integration-test

#307 Allow configuring portworx service in stork
  drivers/volume/portworx/portworx.go
Labels: enhancement, release-note

#309 Add validation for interval policy
  pkg/schedule/schedule.go
  pkg/schedule/schedule_test.go
Labels: bug

#312 Fixes for migration schedule tests
  test/integration_test/migration_test.go
Labels: failing-test

#315 Store finish timestamp for migration
  pkg/apis/stork/v1alpha1/migration.go
  pkg/apis/stork/v1alpha1/zz_generated.deepcopy.go
  pkg/migration/controllers/migration.go
  pkg/storkctl/migration.go
  pkg/storkctl/migration_test.go
  pkg/storkctl/migrationschedule.go
  pkg/storkctl/migrationschedule_test.go
Labels: api-change, enhancement, release-note, unit-test

#319 storkctl support for group snapshots
  pkg/storkctl/create.go
  pkg/storkctl/delete.go
  pkg/storkctl/get.go
  pkg/storkctl/groupsnapshot.go
  pkg/storkctl/groupsnapshot_test.go
Labels: feature, release-note, unit-test

#318 Integration test - restore from local group snapshots.
  test/integration_test/common_test.go
  test/integration_test/snapshot_test.go
Labels: integration-test
