Repository libopenstorage/stork, pull requests merged in 2023-10, with the labels that each got.

#1521 PWX-33339: Stashstrategy integration tests for mongodb and kafka operator.
  test/integration_test/common_test.go
  test/integration_test/migration_features_test.go
Labels: integration-test

#1520 Adding integration test for SC parameter preferRemoteNode set as false
  test/integration_test/common_test.go
  test/integration_test/extender_test.go
  test/integration_test/specs/test-sv4-svc-prefer-remote-node-false/portworx/px-sc.yaml
  test/integration_test/specs/test-sv4-svc-prefer-remote-node-false/test-sv4-svc-repl1-prefer-remote-node-false.yaml
Labels: integration-test

#1525 Enhance storkctl cli to support creation and deletion of SchedulePolicy resources
  pkg/storkctl/create.go
  pkg/storkctl/delete.go
  pkg/storkctl/migrationschedule.go
  pkg/storkctl/schedulepolicy.go
  pkg/storkctl/schedulepolicy_test.go
Labels: release-note, unit-test, feature

#1535 PWX-34353: Improvements to storkctl schedulepolicy cli
  pkg/apis/stork/v1alpha1/schedulepolicy.go
  pkg/storkctl/schedulepolicy.go
  pkg/storkctl/schedulepolicy_test.go
Labels: enhancement, unit-test

#1538 PWX-32338: Validate storkctl cli for creating and deleting SchedulePolicy
  test/integration_test/specs/storkctl-specs/schedulepolicy/custom-daily-policy.yaml
  test/integration_test/specs/storkctl-specs/schedulepolicy/custom-interval-policy.yaml
  test/integration_test/specs/storkctl-specs/schedulepolicy/custom-monthly-policy.yaml
  test/integration_test/specs/storkctl-specs/schedulepolicy/custom-weekly-policy.yaml
  test/integration_test/specs/storkctl-specs/schedulepolicy/daily-policy.yaml
  test/integration_test/specs/storkctl-specs/schedulepolicy/interval-policy.yaml
  test/integration_test/specs/storkctl-specs/schedulepolicy/monthly-policy.yaml
  test/integration_test/specs/storkctl-specs/schedulepolicy/weekly-policy.yaml
  test/integration_test/storkctl_schedulepolicy_test.go
Labels: integration-test

#1545 PWX-33887: storkctl to support namespacemapping during applicationrestore creation.
  pkg/storkctl/applicationrestore.go
  pkg/storkctl/applicationrestore_test.go
Labels: enhancement, unit-test
