Repository libopenstorage/stork, pull requests merged in 2024-01, with the labels that each got.

#1604 PTX-21639: Namespace delete error should not error out if namespace does not exists in migration tests cleanup.
  test/integration_test/migration_test.go
Labels: failing-test

#1606 PWX-35513: Fix for correctly updating the volume labels from the locator.
  drivers/volume/portworx/portworx.go
  test/integration_test/common_test.go
  test/integration_test/extender_test.go
  test/integration_test/specs/test-sv4-replica1-prefer-remote-only/portworx/px-sc.yaml
  test/integration_test/specs/test-sv4-replica1-prefer-remote-only/test-sv4-svc-repl1-prefer-remote-only.yaml
Labels: bug

#1603 [PWX-35512] Preventing pods from being assigned on nodes not available to Volume Driver
  pkg/extender/extender.go
  pkg/extender/extender_test.go
Labels: bug, unit-test
