Repository libopenstorage/stork, pull requests merged in 2024-04, with the labels that each got.

#1705 PWX-34790: Enabling support for resourcetransformation for all objects including CRs.
  pkg/migration/controllers/resourcetransformation.go
  pkg/migration/controllers/resourcetransformation_test.go
Labels: enhancement, unit-test

#1726 fixing the get action status parsing
  test/integration_test/storkctl_dr_action_test.go
Labels: integration-test

#1731 PWX-32340: Adding Failback workflow tests with new action workflow with different schedule policies for reverse migrationschedule.
  test/integration_test/common_test.go
  test/integration_test/migration_dr_actions_test.go
Labels: integration-test

#1732 [PWX-36989] LastMileMigration should migrate only subset of namespaces
  pkg/action/actioncontroller.go
  pkg/action/drutils.go
  test/integration_test/migration_dr_actions_test.go
Labels: bug
